@import "../../theme/variables/variables";
@import "../../theme/breakpoints/mixins";

$card-space: $base-line-height / 2.1;
:host {
  display: block;
  .app-team__header {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: $base-line-height * 3;
  }

  @include respond-up(sm) {
    .app-team__content {
      margin: 0 -$card-space;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .app-team__member-container {
      max-width: 350px;
    }

    .app-tem__member-list-item {
      padding: 0 $card-space;
    }
  }
}
